<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Designer</title>
</head>

<style>
    .container-menu {
        position: relative;
        width: 305px;
        display: inline-block;
        margin: 5px;
        vertical-align: top;
    }

    .background-menu {
        background: white;
        height: 148px;
        width: 100%
    }

    .bar-menu-right,
    .bar-menu-left {
        box-sizing: border-box;
        background: #3F5185;
        color: white;
        width: 100%;
        padding: 16px;
    }

    .bar-menu-right {
        text-align: right;
    }

    .bar-menu-left {
        text-align: left;
    }

    .mdl-grid {
        min-height: 320px;
        color: #757575 !important;
    }

    .background-cinza {
        background: rgb(226, 222, 222);
        min-height: 50px;

    }

    .transparent {
        background: cornflowerblue;
    }

    /*
    .mdl-cell {
        background-color: #bbb;
        height: 50px;
    }
*/
    nav.mdl-navigation .mdl-badge[data-badge]:after {
        top: 5px;
        right: -8px;
    }

    @media screen and (max-width: 400px) {
        .esconde-celular {
            display: none;
        }
        nav.mdl-navigation .mdl-badge[data-badge]:after {
            right: 5px;
        }
    }

    @media screen and (min-width: 401px) {
        .mostrar-celular {
            display: none;
        }
    }

    /*
alterar tamanho do icon
*/
    .md-18 {
        font-size: 18px;
    }

    .md-24 {
        font-size: 24px;
    }

    .md-36 {
        font-size: 36px;
    }

    .md-48 {
        font-size: 48px;
    }

    .laranja {
        color: #fb8c00
    }

    .verde {
        color: #a4c639
    }

    /*
chama mdl-car__title e informa que ela e filha da 
demonstração
*/

#conteudo-left{
  /*Novamente definimos a largura da div*/
  width:30%;
  /* altura da div */
  
  /* O atributo Float é utilizado para fazermos o nosso bloco(div) literalmente flutue e se posicione onde queremos na página, quando escolhemos left, dizemos que esse bloco irá se posicionar na parte esquerda da página */
  float:left;
  /* Cor de fundo da div */
 
  }
#conteudo-right{
  /*Novamente definimos a largura da div*/
  width:60%;
  /* altura da div */
  /* Pode parecer meio estranho usarmos o mesmo atributo left para o bloco em que queremos posicionar na direita, mas como sabemos, o CSS é um estilo em cascata, nossa div conteúdo definimos a largura de 1000px e na conteudo-left 500px, 
automaticamente ao definirmos o conteudo-right com 500px e à esquerda também, ele ficou à direita do conteudo-left, pois o máximo que a div filha poderá ter é 1000px, sendo 500+500=1000px */
  float:left;
  /* Cor de fundo da div */

  }
    .demonstracao-card {
        width: 812px;
    }
    .mdl-card {
        width: 100%;
    }

    .demonstracao-card>.mdl-card__menu {
        color: #ffff;

    }

    .demonstracao-card>.mdl-card__title {
        color: #fff;
        height: 176px;
        background: url('img/DSC_0096.JPG') center /cover
    }

    .mdl-menu__item a{
        color: rgba(0,0,0,.87);
        text-decoration: none;
    }
    .mdl-menu__item a:hover{
        color: rgba(0,0,0,.87);
        text-decoration: none;
    }
</style>

<body>
    <!-- Para colocar menu fixo mdl-layout--fixed-drawer -->

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">{CT}</span>
                <!-- div para dar espaçamento-->
                <div class="mdl-layout-spacer"></div>
                <!-- menu com links na parte superior-->
                <nav class="mdl-navigation esconde-celular">
                    <a href="#" class="mdl-navigation__link mdl-badge" data-badge="5">Notificações</a>
                    <a href="#" class="mdl-navigation__link mdl-badge" data-badge="10">Pendencias</a>
                      <a href="/logout" class="mdl-navigation__link">Sair</a>
                </nav>
            </div>
        </header>
        <!-- menu aparti do cabeçalho-->
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Introdução</span>
            <nav class="mdl-navigation">
              
                 <a href="/mesa" class="mdl-navigation__link">Mesa</a>
            <a href="/entradatroco" class="mdl-navigation__link">Entrada Troco</a>
            <a href="/sangria" class="mdl-navigation__link">Sangria</a>
            <a href="/caixa" class="mdl-navigation__link">Caixa </a>
            <a href="/produtomesa" class="mdl-navigation__link">Produto Mesa</a>
            <a href="/produto" class="mdl-navigation__link">Produto</a>
            <a href="/produtotipo" class="mdl-navigation__link">Produto Tipo </a>
            <a href="/despesa" class="mdl-navigation__link">Despesa </a>
            <a href="/despesatipo" class="mdl-navigation__link">Despesa Tipo </a>
            <a href="/usuario" class="mdl-navigation__link">Usuario</a>
            <a href="/permissao" class="mdl-navigation__link">Permissão </a>
                <!--Mostrar link quando tamanho menor que 400-->
                <div class="mostrar-celular">
                    <a href="#" class="mdl-navigation__link mdl-badge" data-badge="5">Notificações</a>
                    <a href="#" class="mdl-navigation__link mdl-badge" data-badge="10">Pendencias</a>
                      <a href="/logout" class="mdl-navigation__link" data-badge="10">Sair</a>
                  
                </div>
            </nav>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="pesquisa">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" id="pesquisa">
                </div>
            </div>
        </div>

        <div class="mdl-layout__content">
            <main>
                <div class="mdl-grid">
                    <!-- Grids dentro da pagina-->
                    <!-- Padão são 3 colunas icon 24px-->

                    <div id="conteudo-right">
                      <div class="mdl-cell mdl-cell--12-col">
                        <h5>Lista de mesa abertas</h5>
                            <div class="background-cinza">
                               
                                <table width="100%" class="mdl-data-table mdl-js-data-table mdl-shadow--4dp mdl-data-table--selectable">
                                <thead>
                                    <tr>
                                        <!--usa th quando for no titulo-->
                                        <!--classe usanda para alinhar-->
                                        <th class="mdl-data-table__cell--non-numeric">ID</th>
                                        <th class="mdl-data-table__cell--non-numeric">Numero</th>
                                        <th class="mdl-data-table__cell--non-numeric">ValorTotal</th>
                                        <th class="mdl-data-table__cell--non-numeric">DataAbertura</th>
                                     
                                            <th class="mdl-data-table__cell--non-numeric">Ativa</th>
                                            <th class="mdl-data-table__cell--non-numeric">Login</th>
                                    </tr>
             
                                <form>
                                <tbody>{{range .Mesa}}
                                    <tr id="{{.ID}}">
                                        <td class="mdl-data-table__cell--non-numeric">{{.ID}}  </td>
                                        <td class="mdl-data-table__cell--non-numeric">{{.Numero}}  </td>
                                        <td class="mdl-data-table__cell--non-numeric">{{.ValorTotal}}  </td>
                                        <td class="mdl-data-table__cell--non-numeric">{{.DataAbertura}}  </td>
                                    
                                        <td class="mdl-data-table__cell--non-numeric">{{.Ativa}}  </td>
                                        <td class="mdl-data-table__cell--non-numeric">{{.Login}}  </td>
                                        <td class="mdl-data-table__cell--non-numeric"><a href="/fecharmesa?id={{.ID}}">Fechar</a></td>
                                   </tr>
                                       {{end}}
                                </tbody>
                                </form>
                                </thead>
                               </table>
                            </div>
                        </div>
                    </div>    


            <div id="conteudo-left" align="center">
                <div  align="center" class="mdl-cell mdl-cell--12-col">
                        <h5>Cadastro Usuario</h5>
                   <div class="background-cinza">
                       <div width="95%" class="mdl-card mdl-shadow--4dp ">                  
                        <form  width="95%" method="post">
                          
                            <div  class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input  class="mdl-textfield__input" id="numero" type="text" name="numero" >
                                <label class="mdl-textfield__label" for="numero">  Numero</label>
                            </div>

                            
                          <div class="mdl-card__actions mdl-card--border">
                              <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent mdl-button--raised"> Cadastro</button>
                          </div>
                         </form>


                        </div>
                    </div>
                </div>
            </div>
        </main>
        </div>
    </div>
</body>
</html>
